/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/*===== VARIABLES CSS Y SASS =====*/
/*Varibles sass*/
/*Variables css*/
/*===== Colores =====*/
:root {
  --first-color: #050505; 
  --second-color: #F8C7CB;
  --white-color: #EDEDED;

  /* --first-color: #F08D87; 
  --second-color: #F8C7CB;
  --white-color: #EDEDED; */
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'Rubik', sans-serif;
  --small-font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  :root {
    --small-font-size: 0.938rem;
  }
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 1rem 0 0 5rem;
  font-family: var(--body-font);
  background-color: var(--white-color);
  -webkit-transition: .5s;
  transition: .5s;
}

h1 {
  margin-left: 0px;
  color: #D89498;

}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*=====  NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 56px;
  height: 100vh;
  background-color: var(--first-color);
  padding: 1.25rem .5rem 2rem;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  padding: 0 .5rem;
}

.nav__logo-icon {
  margin-right: 1.2rem;
}

.nav__logo-text {
  color: var(--white-color);
  font-weight: 700;
}

.nav__toggle {
  position: absolute;
  top: 1.10rem;
  right: -.6rem;
  width: 18px;
  height: 18px;
  background-color: var(--second-color);
  border-radius: 50%;
  font-size: 1.25rem;
  color: var(--first-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  color: var(--white-color);
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.nav__text {
  font-weight: 700;
}

nav #botones {
  height: 80px;
  width: 100%;
}

#botones ul {
  margin-right: 20px;
}

#botones ul li {
  display: block;
  float: left;
  line-height: 80px;
  margin: 0 5px;
}

.search-box {
  position: inherit;
  right: 10px;
  left: 10px;

}

.search-txt {
  margin: 0;
  width: 170px;
  border: none;
  border-radius: 5px;
}

/*Show menu*/
.show {
  width: 168px;
}

/*Rotate toggle*/
.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .5s;
  transition: .5s;
}

/*Active links menu*/
.active {
  background-color: var(--second-color);
  color: var(--first-color);
}

/*Add padding body*/
.expander {
  padding: 1rem 0 0 12rem;
  -webkit-transition: .5s;
  transition: .5s;
}


/* TABLAS */

.table, th, td {
  border: 1px solid rgb(214, 214, 214);
  border-collapse: collapse;
  text-align: center;
}

tr:hover {
  background-color:#f5f5f5;
  cursor: pointer;
}
th {
  background: #952860;
  color: rgb(245, 235, 235);
}

/* BOTONES NUEVOS REGISTROS Y BUSCADOR*/

.btn {
  overflow: hidden;
  color: white; 
  border: none;
  margin: 5px;
  padding: 15px;
  width: 150px;
  font-family: 'montserrat', sans-serif;
  border-radius: 6px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.btn:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(149,40,96,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(149,40,96,1);
box-shadow: 0px 0px 10px 0px rgba(149,40,96,1);

}

.btn-1, .btn-2  {
  background-image: linear-gradient( to left, #952860, #F79C99 );
}

.btn-add {
  border: none;
}

.btn-guardar, .btn-delete, .btn-modal {
  background: #952860;
  border: none;
  color: #fff;
  width: 6rem;
}

/* Modal */
.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #24232354;
  display: none;
  overflow-y: auto;
}

.modal {
  position: relative;
  background: #fff;
  text-align: center;
  width: 40rem;
  margin: 2rem auto;
  -webkit-box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
  animation-name: animatetop;
  animation-duration: .4s;
}

@keyframes animatetop {
  from {
    top: -300px; opacity: 0;
  }
  to {
    top: 0; opacity: 1;
  }
}

.modal-show {
  display: block;
} 

.modal-header {
  margin-bottom: 1rem;
  background: #f8fafb;
  padding: 1rem;
}

.modal-body {
  padding: 2rem;
  display: inline-block;
  
}

input {
  width: 49%;
  height: 2.5rem;
  margin-bottom: 1.5rem;
}

.preparar {
  
  display: none;

}